/* ��ҳ */
body {text-align:center;
	  }

#img1{max-width:750px;
	 }

#p1{font-size:20px;
     padding-top:48px;
	 padding-bottom:28px;
     }
#create{ height:50px;
          width:80%;
		  background-color:#FC4B4B;
		  font-size:20px;
		  text-align:center;
		  color:#FFFFFF;
		  border:0;
		  border-radius:4px;
		}

/*-------��1��--------*/	
#creatediv{
           width:100%;
           text-align:center;
}

#myform{text-align:center;}

#photodiv{
        width:40%;
        padding-top:12px;
	    padding-bottom:6px;
		border:solid 1px #CCCCCC;
		border-radius:5px;
		max-height:160px;
		min-width:100px;
		max-width:160px;
		margin-left: auto;
        margin-right: auto;   
}
 
#img2{max-width:80px;
      max-height:80px;
	  text-align:center;
	  }

#p2{font-size:16px;
    font-weight:bold;
   }

#biaoti{
 border:solid 1px #CCCCCC;
 height:30px;
 width:80%;
 max-width:450px;
 text-align:left;
 margin-top:30px;
 border-radius:4px;
 }  
 
#desc{border:solid 1px #CCCCCC;
text-align:left;
max-width:450px;
width:80%;
margin-top:20px;
border-radius:4px;
}

.nextn{
          height:50px;
          width:700px;
		  background-color:#FC4B4B;
		  font-size:20px;
		  text-align:center;
		  color:#FFFFFF;
		  border:0;
		  border-radius:4px;
}
	 
/*-----��2����----*/

#crediv2{
width:100%;
margin-left:20px;
text-align:center; 
}

#p3{font-size:18px;
    font-weight:bold;
	color:#4A4A4A;
	width:95%;
	text-align:left;
   }

#p4{font-size:18px;
    font-weight:bold;
	color:#4A4A4A;
	width:95%;
	text-align:left;
	padding-top:20px;
   }
  
#tblist{ margin:0; 
         padding:0;
		 }

#tblist li{
  list-style:none;
  float:left;
  background-color:#F5F5F5;
  padding-top:15px;
  padding-bottom:10px;
  width:20%;
  text-align:left;
} 

.bdtab{ border:0;
       width:100%;
	   cellspacing:0;
	   cellpadding:0;
	   }

.bdtab td{text-align:left; padding-bottom:10px;
}

.bdbtn{ width:80px;
      height:40px;
	  font-size:16px;
	  text-align:center;
	  background-color:#FFFFFF;
	  border:solid 1px #CCCCCC;
	  border-radius:4px;
	  }
.bdbtn2{ width:80px;
      height:40px;
	  font-size:16px;
	  text-align:center;
	  background-color:#FFFFFF;
	  border:solid 1px #FF0000;
	  border-radius:4px;
	  color:#FF0000;
	  }	  
	  
	   
.addbtn{
      width:80px;
      height:40px;
	  font-size:16px;
	  text-align:center;
	  background-color:#FFFFFF;
	  border:solid 1px #CCCCCC;
	  border-radius:4px;
	  color:#FF0000;
	  font-weight:bold;
}

#labtext{
color:#A0A0A0;
font-size:13px;
}

#p5{color:#A0A0A0;
font-size:14px;
text-align:left;
}


.bqtab{ border:0;
       width:100%;
	   cellspacing:0;
	   cellpadding:0;
	   }

.bqtab td{text-align:left; padding-bottom:10px;
}
.bqbtn{ width:120px;
      height:40px;
	  font-size:16px;
	  text-align:center;
	  background-color:#FFFFFF;
	  border:solid 1px #FF0000;
	  border-radius:4px;
	  color:#FF0000;
	  }

.addbqbtn{
      width:120px;
      height:40px;
	  font-size:16px;
	  text-align:center;
	  background-color:#FFFFFF;
	  border:solid 1px #CCCCCC;
	  border-radius:4px;
	  color:#FF0000;
	  font-weight:bold;
}
/*---�����Ϣ������--*/
#morediv{
	width:60%;
	height:230px;
	border:solid 1px #F5F5F5;
	border-radius:5px;
	display:none;
	position:absolute;
	left:20%;
	top:30%;
	z-index:999;
	background-color:#FFFFFF;
}
/*--��͸����--*/
#hbg {
   width:100%;  
    position:absolute;  
    background:#000;  
    z-index:998;
    top:0;  
    left:0;  
    height:2000px;
    opacity:0.3;
	display:none;
}

#morediv hr{
border:none;
border-top:1px solid #D8D8D8;
widows:100%;
}

#morediv p{
color:#FF0000;
font-size:14px;
text-align:center;
padding-top:4px;
padding-bottom:4px;
}


#morediv input{
font-size:13px;
padding-top:4px;
padding-bottom:4px;
height:35px;
max-height:60xp;
width:150px;
max-width:180px;
background-color:#FBFBFB;
border:solid 1px #CCCCCC;
border-radius:5px;
margin-bottom:30px;
margin-top:30px;
}

#spaqx{
font-size:16px;
color:#CCCCCC;
margin-right:50px;
}

#spaqd{font-size:16px;
color:#FF0000;
margin-left:50px;
}
